    
      .card {
        margin-top: 30px;
        margin-right: 20px;
        margin-left: 20px;
        border: 1px solid #ccc;
        padding: 10px;
        width: auto;
        height: auto;
        display: flex;
        flex-direction: column;
        align-items: center;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        text-align: center;
        margin-bottom: 30px;
       }
  
  
       
    #img {
        margin-top: 1.6em;
        aspect-ratio: 1;
        border-radius: 12px;
        background: #f2f2f3;
        margin-bottom: 0.4em;
        box-shadow: inset 5px 5px 10px #a9a9aa77,
        inset -5px -5px 10px #ffffff7e;
       }
    
    .btn-outline-secondary{
      border-color: #933dde;
      color: #933dde;
      border-radius: 12px;
    }
  
    .btn-outline-secondary:hover{
      color: white;
      background-color: #933dde;
    }
  
    .btn-outline-danger{
      border-radius: 12px;
    }

form{
    padding-left: 50px;
}
     
  .input {
    margin-bottom: 20px;
    position:relative;
  }
  
  .input input {
    font-size: 16px;
    padding: 10px;
    border: none;
    border-bottom: 1px solid #ccc;
    width: 100%;
    background: transparent;
  }
  
  .input label {
    font-size: 16px;
    color: #999;
    position:absolute;
    top: 10px;
    left: 10px;
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  .input input:focus + label,
  .input input:valid + label {
    top: -18px;
    left: 10px;
    font-size: 12px;
    color: rgba(0, 0, 0, 0.736);
  }

  .btn-outline-success{
    border-color: #933dde;
    color: #933dde;
    border-radius: 12px;
  }

  .btn-outline-success:hover{
    color: white;
    background-color: #933dde;
  }

  .btn-outline-danger{
    border-radius: 12px;
  }