<div class="container" style="padding-top: 10px;">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-end">
                <button  id="boton" routerLink="/">
                    <i class="fa-solid fa-arrow-left" style="padding-right: 3px;"></i> Volver
                </button>
            </div>
        </div>
    </div>
</div>


<div class="card">
    
    <h2 id="titulo" style="text-align: center;">Reportes de ventas</h2>

    <div class="cards" >

        <div class="card text-center">
            <div class="card-header">
            </div>
            <div class="card-body">
              <h5 class="card-title">Clave del reporte de venta</h5>
              <p class="card-text">Nombre de usuario</p>
           
              <button class="btn btn-outline-success" data-bs-toggle="modal" data-bs-target="#exampleModal">Detalles</button>
            </div>
            <div class="card-footer text-muted">
              Fecha del reporte de venta
            </div>
          </div>



          <div class="card text-center">
            <div class="card-header">
            </div>
            <div class="card-body">
              <h5 class="card-title">Clave del reporte de venta</h5>
              <p class="card-text">Nombre de usuario</p>
              <a class="btn btn-outline-success">Detalles</a>
            </div>
            <div class="card-footer text-muted">
              Fecha del reporte de venta
            </div>
          </div>

          <div class="card text-center">
            <div class="card-header">
            </div>
            <div class="card-body">
              <h5 class="card-title">Clave del reporte de venta</h5>
              <p class="card-text">Nombre de usuario</p>
              <a class="btn btn-outline-success">Detalles</a>
            </div>
            <div class="card-footer text-muted">
              Fecha del reporte de venta
            </div>
          </div>
</div>
</div>




<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
<div class="modal-dialog modal-dialog-centered modal-dialog-scrollable" >
<div class="modal-content">
<div class="modal-header">
  <h1 class="modal-title fs-5" id="exampleModalLabel">Reporte de venta 1</h1>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <p>Titulo del reporte de venta</p>
  <p>Usuario</p>
  <p>Productos</p>
  <p>Precio</p>
  <p>Fecha</p>
</div>
<div class="modal-footer">
  <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
</div>
</div>
</div>
</div>
