<!--Autor: Erik Daniel ME-->
<div class="container" style="padding-top: 10px;">
    <div class="row">
        <div class="col">
            <div class="d-flex justify-content-end">
                <button  id="boton" routerLink="/Administracion-de-inventario">
                    <i class="fa-solid fa-arrow-left" style="padding-right: 3px;"></i> Volver
                </button>
            </div>
        </div>
    </div>
</div>




<div class="card-group"  ><!--Estilo del acomodo de las cards-->
    <div class="card"> <!--Card-->
      <div class="container text-center">
          <div class="row">
  
            <div class="col-sm-4">
              <img  width="350px" height="200px" id="img">
            </div>
  
            <div class="col-sm-8">
              <div class="card-body" >
                  <form >
                      <!--nombre-->
                      <div class="input">
                        <input autocomplete="off" type="text" id="nombreProducto" name="nombreProducto"
                          required value="Producto 1">
                        <label for="nombreProducto">Nombre del producto</label>
                      </div>
                      <!--Apellido Paterno-->
                      <div class="input">
                        <input autocomplete="off" type="text" id="proveedor" name="proveedor"
                          required value="Proveedor 2">
                        <label for="proveedor">Proveedor</label>
                      </div>
            <!-- Apellido Materno-->
                      <div class="input">
                        <input autocomplete="off" type="text" id="catego" name="catego"
                          required value="Categoría 1">
                        <label for="catego">Categoría</label>
                      </div>
            
                      <!--Telefono-->
                      <div class="input">
                        <input autocomplete="off" type="number" id="inventario" name="inventario"
                          required value="50">
                        <label for="inventario">Inventario</label>
                      </div>
                    </form>
            </div>
          </div>
      </div>
  
    </div>
  
  